
*.userprefs

XamarinCanvas/.DS_Store

*.dll

*.mdb

XamarinCanvas/bin/Debug/Mono.TextEditor.dll.config

XamarinCanvas/bin/Debug/MonoDevelop.Core.dll.config

XamarinCanvas/bin/Debug/MonoDevelop.Ide.dll.config

*.exe

XamarinCanvas/bin/Debug/MonoDevelop.Projects.Formats.MSBuild.exe.config

XamarinCanvas/gtk-gui/generated.cs

XamarinCanvas/gtk-gui/MainWindow.cs

*.config

*.mlpd

XamarinCanvas/icons/.DS_Store
